@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(./header.css);
@import url(./header.css);
@import url(main.css);
@import url(./footer.css);
@import url(./reponsive.css);

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --header-height: 120px;
    --navbar-height: 35px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --appear-width: -100px;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 100%;
    line-height: 1rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
  }
p {
    font-size: 1rem;
}
.is-flex {
    display: flex!important;
}
